@import './reset';
@import './color';
@import './size';
@import './layout';

%position-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

nav {
  position: relative;
  width: 100%;
  height: 56px;
  .hamburger {
    @extend %position-center;
    left: 17px;
    height: 15px;
    width: 20px;
  }
  .nav-wrapper {
    @include flex(column, start, center);
    position: absolute;
    top: 100%;
    width: 100%;
    visibility: hidden;
    &__menu {
      @include flex(column, start, center);
      width: 100%;
      a {
        padding: 1.5rem 0;
        color: $font-color;
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        border-bottom: 1px solid rgba(42, 42, 42, 0.1);
      }
    }
    &__icons-wrapper {
      @include flex(row, space-between, center);
      padding-top: 3rem;
      width: 152px;
      height: 24px;
      &--search {
        width: 21px;
        height: 21px;
      }
      &--cart {
        width: 21px;
        height: 22px;
      }
      &--switch {
        width: 24px;
        height: 24px;
      }
    }
  }
  .nav__logo {
    @extend %position-center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135.86px;
    height: 24px;
  }
}

footer {
  display: none;
}

@media (min-width: 376px) {
  nav {
    display: flex;
    @include flex(row, space-between, center);
    height: 60px;
    .hamburger {
      display: none;
    }
    .nav-wrapper {
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      visibility: visible;
      @include flex(row, space-between, center);
      padding: 0 11.45%;
      &__menu {
        @include flex(row, space-between, center);
        width: 26.6%;
        white-space: nowrap;
        a {
          margin-right: 10%;
          border-bottom: none;
        }
      }
      &__icons-wrapper {
        padding: 0;
        width: 132px;
        &--search {
          width: 24px;
          height: 24px;
        }
        &--cart {
          width: 24px;
          height: 24px;
        }
      }
    }
    .nav__logo {
      width: 169.83px;
      height: 30px;
    }
  }

  footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 284px;
    background: $footer;
    .footer-info-wrapper {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      .footer-logo {
        width: 175.49px;
        height: 31px;
      }
      .footer-info {
        height: 100%;
        &__title {
          padding: 4rem 0 1.5rem;
          font-size: 1.5rem;
          font-weight: 700;
        }
        &__content--item {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
          color: $footer-grey;
        }
        &__icons-wrapper {
          @include flex(row, start, center);
          padding-top: 10px;
          width: 104px;
          height: 24px;
          &--fb {
            width: 9.33px;
            height: 20px;
            margin-right: 27.47px;
          }
          &--ig {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
          &--whatsapp {
            width: 20px;
            height: 20.1px;
          }
        }
      }
    }
  }
}
